{
  "openapi": "3.0.0",
  "info": {
    "description": "Welcome to the pear-backend API docs!",
    "version": "1.0.0",
    "title": "pear-backend"
  },
  "tags": [
    {
      "name": "Users",
      "description": "Operations on Pear users. These routes require authorization."
    },
    {
      "name": "Authentication",
      "description": "Operations to authenticate users."
    },
    {
      "name": "General",
      "description": "Operations to interact with Pear. These routes do not require authorization."
    }
  ],
  "paths": {
    "/user/": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets information about the user.",
        "responses": {
          "200": {
            "description": "{success: true, data: [User]}"
          },
          "401": {
            "description": "{success: false, data: {errors: [string]}}"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete the user",
        "responses": {
          "200": {
            "description": "{success: true, data: []}"
          },
          "401": {
            "description": "{success: false, data: {errors: [string]}}"
          }
        }
      }
    },
    "/user/clubs/": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets the clubs of the user",
        "responses": {
          "200": {
            "description": "{success: true, data: [Club]}"
          },
          "401": {
            "description": "{success: false, data: {errors: [string]}}"
          }
        }
      }
    },
    "/user/matching/": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Creates the matchings of users",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "netIDs",
                  "schedule"
                ],
                "properties": {
                  "netIDs": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "schedule": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/DaySchedule"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "{success: true, data: Matching}"
          },
          "401": {
            "description": "{success: false, data: {errors: [string]}}"
          }
        }
      }
    },
    "/user/majors/": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets the major of the user",
        "responses": {
          "200": {
            "description": "{success: true, data: CornellMajor}"
          },
          "401": {
            "description": "{success: false, data: {errors: [string]}}"
          }
        }
      }
    },
    "/user/interests/": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets the interests of the user",
        "responses": {
          "200": {
            "description": "{success: true, data: [Interest]}"
          },
          "401": {
            "description": "{success: false, data: {errors: [string]}}"
          }
        }
      }
    },
    "/user/update/": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Updates the user with the given parameters",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clubs",
                  "graduationYear",
                  "hometown",
                  "interest",
                  "major",
                  "profilePictureURL",
                  "pronouns"
                ],
                "properties": {
                  "clubs": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "graduationYear": {
                    "type": "string"
                  },
                  "hometown": {
                    "type": "string"
                  },
                  "interest": {
                    "type": "string"
                  },
                  "major": {
                    "type": "string"
                  },
                  "profilePictureURL": {
                    "type": "string"
                  },
                  "pronouns": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "description": "Any combination of valid user fields can be sent as the post body",
          "required": true
        },
        "responses": {
          "200": {
            "description": "{success: true}"
          },
          "401": {
            "description": "{success: false, data: {errors: [string]}}"
          }
        }
      }
    },
    "/auth/login/": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticates an ID token from Google and creates a user for that Google account if one does not already exist. Returns a session for the user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "idToken"
                ],
                "properties": {
                  "idToken": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "{success: true, data: UserSession}"
          },
          "401": {
            "description": "{success: false, data: {errors: [string]}}"
          }
        }
      }
    },
    "/refresh/": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticates the refresh token and returns a new user session.",
        "responses": {
          "200": {
            "description": "{success: true, data: UserSession}"
          },
          "401": {
            "description": "{success: false, data: {errors: [string]}}"
          }
        }
      }
    },
    "/auth/hello/": {
      "get": {
        "tags": [
          "General"
        ],
        "summary": "Sanity check to see if the application is running.",
        "responses": {
          "200": {
            "description": "{success: true, data: \"Hello world!\" }"
          },
          "401": {
            "description": "{success: false, data: {errors: [string]}}"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about pear-backend",
    "url": "https://github.com/cuappdev/pear-backend"
  },
  "servers": [
    {
      "url": "https://pear-backend.cornellappdev.com/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "clubs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Club"
            }
          },
          "firstName": {
            "type": "string"
          },
          "googleID": {
            "type": "string"
          },
          "graduationYear": {
            "type": "string",
            "nullable": true
          },
          "hometown": {
            "type": "string",
            "nullable": true
          },
          "interests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Interest"
            }
          },
          "lastName": {
            "type": "string"
          },
          "netID": {
            "type": "string"
          },
          "major": {
            "$ref": "#/components/schemas/CornellMajor"
          },
          "matches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Matching"
            }
          },
          "profilePictureURL": {
            "type": "string",
            "nullable": true
          },
          "pronouns": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "UserSession": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "refreshToken": {
            "type": "string"
          },
          "sessionExpiration": {
            "type": "string"
          }
        }
      },
      "Matching": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean"
          },
          "schedule": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DaySchedule"
            }
          },
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubUser"
            }
          }
        }
      },
      "DaySchedule": {
        "type": "object",
        "properties": {
          "day": {
            "type": "string"
          },
          "times": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        }
      },
      "SubUser": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "googleID": {
            "type": "string"
          },
          "graduationYear": {
            "type": "string",
            "nullable": true
          },
          "hometown": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string"
          },
          "netID": {
            "type": "string"
          },
          "profilePictureURL": {
            "type": "string",
            "nullable": true
          },
          "pronouns": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Time": {
        "type": "number"
      },
      "Club": {
        "type": "string"
      },
      "CornellMajor": {
        "type": "string",
        "nullable": true
      },
      "Interest": {
        "type": "string"
      }
    }
  }
}